<div class="offer-tabs">
  <mat-tab-group mat-align-tabs="start" *ngIf="co.contract.isValid()">
    <mat-tab label="Contract">
      <mat-card class="user-card">
        <mat-card-content class="user-card-content">
          <code>
            <pre>{{ co.contract.prettyJson() | json }}</pre>
          </code>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="offer-tabs">
  <mat-tab-group active="true" [selectedIndex]="0" mat-align-tabs="start">
    <mat-tab label="Response example" *ngIf="co.offer.asset.responseExample">
      <mat-card class="user-card">
        <mat-card-content class="user-card-content">
          <code>
            <pre>{{ co.offer.asset.responseExample | json }}</pre>
          </code>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Policy" [disabled]="!isRestricted">
      <mat-card class="user-card">
        <mat-card-title class="user-card-title">Constraints</mat-card-title>
        <mat-card-content class="user-card-content">
          <code>
            <pre>{{
              co.offer.policy.permissions[0].constraints[0] | json
            }}</pre>
          </code>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
