<div class="offer-tabs">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Documentation" [disabled]="!isDocumented">
      <mat-card class="user-card">
        <mat-card-header class="user-card-header">
          <mat-card-title class="user-card-title">
            Example of response
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="user-card-content">
          <code>
            <pre>{{ offer.asset.responseExample | json }}</pre>
          </code>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Policy" [disabled]="!isRestricted">
      <mat-card class="user-card">
        <mat-card-header class="user-card-header">
          <mat-card-title class="user-card-title">Constraints</mat-card-title>
        </mat-card-header>
        <mat-card-content class="user-card-content">
          <code>
            <pre>{{ offer.policy.permissions[0].constraints[0] | json }}</pre>
          </code>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
