.offer {
  &-tabs {
    //color: black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;

    ::ng-deep {
      .mat-tab-labels {
        align-items: center;
        height: 80px;
        justify-content: center;
        background-color: #4a379d;
      }

      .mat-tab-label {
        font-size: 32px;
        color: white !important;
      }
    }
  }
}

.user-card {
  margin-top: 20px;
  background-color: #f1f1f1;
  box-shadow: 4px 3px 8px 0px rgb(191, 188, 182);
  max-height: 500px;
  overflow: scroll;

  &-container {
    align-items: center;
    align-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    // background-color: #202020;
  }

  &-header {
    width: 100%;
    align-content: left;
  }

  &-avatar {
    width: 5%;
  }

  &-img {
    width: 100%;
  }

  &-title {
    color: black;
    font-size: 24px;
    padding: 10px;
  }

  &-subtitle {
    color: black;
    padding: 10px;
  }

  &-content {
    &-body {
      color: black;
      position: relative;
      text-align: left;
      overflow: auto;
      padding: 15px;
    }
  }
}
