<div class="offers">
  <ng-container *ngFor="let co of contractOffers">
    <div
      class="offer"
      (click)="openOfferView(co.offer.asset.id)"
      [ngStyle]="{
        'background-color': co.getContract().isValid()
          ? 'rgba(75, 52, 168, 0.528)'
          : '#202020'
      }"
      [title]="co.getContract().availability()"
    >
      <div class="offer-logo-container">
        <img
          src="{{ co.offer.asset.logoUrl }}"
          alt="offer-logo"
          class="offer-logo"
        />
      </div>
      <div class="offer-description">
        <p class="offer-name">{{ co.offer.asset.id }}</p>
        <div class="offer-tags" *ngIf="co.offer.asset.keywords">
          <img
            class="offer-tag"
            *ngIf="co.offer.asset.keywords.includes('events')"
            src="/assets/kafka.png"
            alt="slug"
          />
          <img
            class="offer-tag"
            *ngIf="co.offer.asset.keywords.includes('get')"
            src="/assets/rest2.png"
            alt="slug"
          />
          <img
            class="offer-tag"
            *ngIf="co.offer.asset.monetized"
            src="/assets/cash.jpg"
            alt="slug"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
