::ng-deep {
  .mat-tooltip {
    color: white !important;
    font-size: 24px;
  }

  .mat-form-field-infix {
    background-color: #3f51b5;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: #fff !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff !important;
  }
}

.navbar {
  height: 70px;
  font-weight: 700;

  .navbar-nav {
    .nav-item {
      .nav-link {
        .loggedin-logo {
          height: 10%;
        }
      }
    }
  }
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 150%;
  margin: 20px auto;
  background-color: transparent;
}

.offer {
  width: 280px;
  margin: 30px;
  height: 330px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 3px 8px 0px rgb(191, 188, 182);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 8px 0px rgb(200, 152, 44);
    transform: translateY(-5px);
  }

  &-logo-container {
    margin-top: 20px;
    // position: relative;
    // margin-left: 25%;
    height: 25%;
    width: 100%;
  }

  &-logo {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    width: 60%;
    margin-left: 20%;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
  }

  &-name {
    color: black;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-tags {
    display: flex;
  }

  &-tag {
    max-width: 70px;
    max-height: 70px;
  }
}
