.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}

.details {
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: black;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .offer-gauge {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateY(-50px);

    &-label {
      font-size: 20px;
      color: black;
      position: relative;
      bottom: 60px;
    }
  }
}

.offer {
  &-banner {
    margin-top: 50px;
    height: 100%;
    overflow: hidden;
    text-align: center;

    &-img {
      max-width: 30%;
      // filter: blur(5px);
    }
  }

  &-content {
    margin-top: 50px;
    text-align: center;
    position: relative;
  }

  &-header {
    &-title {
      font-size: 70px;
      color: black;
      font-weight: 700;
      line-height: 70px;
    }

    &-description {
      color: rgba(0, 0, 0, 0.614);
      font-weight: 700;
    }
  }
}

.button-container {
  margin: 30px;
}

.mat-raised-button {
  background-color: #3f51b5;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;

  &:disabled {
    background-color: #3f51b559;
  }
}

.alert {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
