<div class="details" *ngIf="contractOffer">
  <div class="offer-banner" *ngIf="contractOffer.offer.asset.logoUrl">
    <img
      class="offer-banner-img"
      src="{{ contractOffer.offer.asset.logoUrl }}"
      alt="background image"
    />
  </div>
  <div class="offer-content">
    <div class="details-wrapper"></div>
    <div class="offer-header">
      <h1 class="offer-header-title">{{ contractOffer.offer.asset.id }}</h1>
      <h2
        class="offer-header-description"
        *ngIf="contractOffer.offer.asset.description"
      >
        {{ contractOffer.offer.asset.description }}
      </h2>
      <div class="button-container">
        <button
          mat-raised-button
          (click)="requestAccess()"
          [disabled]="
            isAccessRequestSuccess ||
            accessRequestOngoing ||
            contractOffer.contract.isValid()
          "
          [title]="contractOffer.contract.availability()"
        >
          {{
            accessRequestOngoing === true ? "Request ongoing" : "Request access"
          }}
        </button>
        <div class="alert alert-danger" *ngIf="isAccessRequestFailed">
          <strong>Error!</strong> {{ accessRequestError }}
        </div>
        <div class="alert alert-success" *ngIf="isAccessRequestSuccess">
          <strong>Access granted!</strong> {{ accessGrantedMessage }}
        </div>
      </div>
      <!-- <div class="offer-gauge">
        <mwl-gauge
          class="two"
          [max]="100"
          [dialStartAngle]="180"
          [dialEndAngle]="180"
          [value]="popularity"
          [animated]="true"
          [animationDuration]="2"
          [color]="getGaugeColor"
        >
        </mwl-gauge>
        <a class="offer-gauge-label" target="_blank">Popularity </a>
      </div> -->
      <app-offer-tabs [co]="contractOffer"></app-offer-tabs>
    </div>
  </div>
</div>
