<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand" *ngIf="isLoggedin" href="#search">
          <img
            src="/assets/logo-eonax.png"
            class="me-2"
            height="40"
            alt=""
            loading="lazy"
          />
          <small>Dashboard</small>
        </a>
        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Dashboard</a>
        </li> -->
        <li class="nav-item" *ngIf="isLoggedin">
          <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input
              class="search-input"
              name="search"
              ngModel
              placeholder="Search assets..."
            />
            <button class="search-button">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav">
        <a class="navbar-brand" *ngIf="isLoggedin" href="profile">
          <img
            src="/assets/login2.png"
            class="me-2"
            height="30"
            alt=""
            loading="lazy"
          />
          <small>{{ participantName }}</small>
        </a>
        <a
          class="navbar-brand"
          *ngIf="isLoggedin"
          role="button"
          (click)="logout()"
        >
          <img
            src="/assets/logout.png"
            class="me-2"
            height="30"
            alt=""
            loading="lazy"
          />
          <small>Logout</small>
        </a>
        <a class="navbar-brand" *ngIf="!isLoggedin" href="#login">
          <img
            src="/assets/login2.png"
            class="me-2"
            height="30"
            alt=""
            loading="lazy"
          />
          <small>Login</small>
        </a>
      </ul>
    </div>
  </div>
</nav>
